@import '_mixins.scss';
body {
  font-family: 'Tajawal';
  padding-top: 70px;
}

a {
  text-decoration: none;
  color: #333;
}

.section-header {
  .section-title {
    background-color: $mainColor;
    padding: 10px;
    border-radius: 50px;
    width: fit-content;
    color: #fff;
    @include sm {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.servers,
.episode-player,
.player {
  @include md {
    width: 100% !important;
  }
}

.next-prev-episodes {
  .prev {
    @include sm {
      margin-top: 10px;
    }
  }
  .next,
  .prev {
    @include sm {
      width: 100%;
    }
    button {
      @include sm {
        width: 100%;
      }
    }
  }
}

.download-links {
  a {
    @include md {
      margin-top: 10px;
    }
    button {
      @include md {
        width: 100%;
      }
    }
  }
}

.anime-header {
  .content {
    .thumbnail {
      @include sm {
        margin-left: 0 !important;
      }
    }

    .anime-meta {
      @include md {
        text-align: center;
      }

      .categories {
        button {
          @include sm {
            margin-top: 4px;
          }
        }
      }

      .anime-links {
        @include sm {
          display: flex;
          flex-direction: column;
        }
        a:last-child {
          @include sm {
            margin-right: 0 !important;
            margin-top: 5px;
          }
        }
        button {
          @include sm {
            width: 100%;
          }
        }
      }
    }
  }
}

// Dark Mode

.dark {
  background-color: $dark-bg;
  .loading-screen {
    background-color: $dark-bg !important;
  }
  .theHeader {
    background-color: $dark-bg !important;
    color: #fff !important;

    &.scrollShadow {
      box-shadow: 1px 1px 10px rgb(0 0 0 / 43%) !important;
    }
  }
  .search-box {
    .box {
      background-color: $dark-bg !important;
    }
  }
  .trend-anime,
  .latest-episodes,
  footer {
    background-color: $dark-sec-bg !important;
  }

  footer {
    color: #fff;
  }

  .v-card--variant-elevated,
  .v-card--variant-flat {
    background-color: $dark-sec-bg !important;
    color: #fff;
  }

  .v-navigation-drawer {
    background-color: $dark-sec-bg !important;
  }

  .v-list--nav {
    .v-list-subheader {
      color: #f7f7f7;
    }
    a {
      color: #ddd;
    }
  }

  .episode-player {
    .servers {
      color: #fff;
      background-color: $dark-sec-bg !important;
      h5 {
        color: #fff;
        background-color: $dark-bg !important;
      }
      ul {
        li {
          &:hover,
          &.active {
            background-color: $dark-bg !important;
          }
        }
      }
    }
  }

  .pagination {
    nav {
      color: #fff;
    }
  }
}
